In [14]:
import bs4
import requests
import re

url = "https://www.jobindex.dk/jobsoegning?q=Datamatiker"
r = requests.get(url)
soup = bs4.BeautifulSoup(r.text, 'html.parser')

areas = soup.select('.area_label')
for a in areas:
    digitIndex = re.search(r"\d", a.text).start()
    first = a.text[0:digitIndex]
    second = a.text[digitIndex:]
    print(f'Datamatiker jobs in {first}: {second}')

Datamatiker jobs in
                Storkøbenhavn: 13
Datamatiker jobs in
                Nordsjælland: 5
Datamatiker jobs in
                Region Sjælland: 2
Datamatiker jobs in
                Fyn: 6
Datamatiker jobs in
                Region Nordjylland: 5
Datamatiker jobs in
                Region Midtjylland: 11
Datamatiker jobs in
                Sydjylland: 4
Datamatiker jobs in
                Bornholm: 0
Datamatiker jobs in
                Skåne: 0
Datamatiker jobs in
                Grønland: 0
Datamatiker jobs in
                Færøerne: 0
Datamatiker jobs in
                Udlandet: 0
Datamatiker jobs in
                Danmark: 42

In [21]:
import sqlalchemy  as s_a

engine = s_a.create_engine('sqlite:///:memory:', echo=True)
conn = engine.connect()
conn.execute('CREATE TABLE jobs(id INTEGER, name VARCHAR, number INTEGER)')

counter = 0;
for a in areas:
    digitIndex = re.search(r"\d", a.text).start()
    first = a.text[0:digitIndex]
    second = a.text[digitIndex:]
    conn.execute(f'INSERT INTO jobs(id,name,number) VALUES ({counter},"{first}",{second})')
    counter+=1

2020-11-17 20:30:09,090 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-11-17 20:30:09,092 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,095 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-11-17 20:30:09,099 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,106 INFO sqlalchemy.engine.base.Engine CREATE TABLE jobs(id INTEGER, name VARCHAR, number INTEGER)
2020-11-17 20:30:09,109 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,111 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-17 20:30:09,113 INFO sqlalchemy.engine.base.Engine INSERT INTO jobs(id,name,number) VALUES (0,"
                Storkøbenhavn",13)
2020-11-17 20:30:09,115 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,118 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-17 20:30:09,120 INFO sqlalchemy.engine.base.Engine INSERT INTO jobs(id,name,number) VALUES (1,"
                Nordsjælland",5)
2020-11-17 20:30:09,125 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,129 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-17 20:30:09,136 INFO sqlalchemy.engine.base.Engine INSERT INTO jobs(id,name,number) VALUES (2,"
                Region Sjælland",2)
2020-11-17 20:30:09,141 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,148 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-17 20:30:09,150 INFO sqlalchemy.engine.base.Engine INSERT INTO jobs(id,name,number) VALUES (3,"
                Fyn",6)
2020-11-17 20:30:09,152 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,160 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-17 20:30:09,174 INFO sqlalchemy.engine.base.Engine INSERT INTO jobs(id,name,number) VALUES (4,"
                Region Nordjylland",5)
2020-11-17 20:30:09,177 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,182 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-17 20:30:09,185 INFO sqlalchemy.engine.base.Engine INSERT INTO jobs(id,name,number) VALUES (5,"
                Region Midtjylland",11)
2020-11-17 20:30:09,187 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,189 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-17 20:30:09,191 INFO sqlalchemy.engine.base.Engine INSERT INTO jobs(id,name,number) VALUES (6,"
                Sydjylland",4)
2020-11-17 20:30:09,204 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,208 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-17 20:30:09,223 INFO sqlalchemy.engine.base.Engine INSERT INTO jobs(id,name,number) VALUES (7,"
                Bornholm",0)
2020-11-17 20:30:09,226 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,240 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-17 20:30:09,242 INFO sqlalchemy.engine.base.Engine INSERT INTO jobs(id,name,number) VALUES (8,"
                Skåne",0)
2020-11-17 20:30:09,257 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,272 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-17 20:30:09,274 INFO sqlalchemy.engine.base.Engine INSERT INTO jobs(id,name,number) VALUES (9,"
                Grønland",0)
2020-11-17 20:30:09,275 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,281 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-17 20:30:09,284 INFO sqlalchemy.engine.base.Engine INSERT INTO jobs(id,name,number) VALUES (10,"
                Færøerne",0)
2020-11-17 20:30:09,291 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,296 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-17 20:30:09,298 INFO sqlalchemy.engine.base.Engine INSERT INTO jobs(id,name,number) VALUES (11,"
                Udlandet",0)
2020-11-17 20:30:09,305 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,309 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-17 20:30:09,313 INFO sqlalchemy.engine.base.Engine INSERT INTO jobs(id,name,number) VALUES (12,"
                Danmark",42)
2020-11-17 20:30:09,316 INFO sqlalchemy.engine.base.Engine ()
2020-11-17 20:30:09,322 INFO sqlalchemy.engine.base.Engine COMMIT

In [24]:
result = conn.execute('SELECT * from jobs')
from flask import Flask

app = Flask(__name__)
@app.route('/', methods=['GET'])
def index():
    out = '<table style="width:100%"><tr><th>id</th><th>Area</th><th>Number</th></table>'
    for row in result:
        out += f'<tr><td>{row[0]}</td><td>{row[1]}</td><td>{row[2]}</td></tr>'  
    return out
if __name__ == '__main__':
    app.run(debug=True)

2020-11-17 20:34:32,447 INFO sqlalchemy.engine.base.Engine SELECT * from jobs
2020-11-17 20:34:32,450 INFO sqlalchemy.engine.base.Engine ()
 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
 * Restarting with stat

SystemExit: 1

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3339: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)